<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>En CazaCasacas, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Caza seguro!</p>

                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    <p>Solo por estar registrado en CazaCasacas tenés envíos gratis en miles de productos. Cazar nunca fue tan facil!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En CazaCasacas, no hay nada que hayas cazado que no puedas devolver, cazando con nosotros estás protegido!

                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
</body>	
</html>
