<%- include("./partials/head") %>
<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="POST">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="contrasena" placeholder="Contraseña">	
				<p>Recordarme</p>		
				<input type="checkbox" name="redordarme" placeholder="Recordar Usuario?">
				<br>
				<input type="submit">
			</form>

<%- include("./partials/footer") %>
	