<%- include("./partials/head") %>
<%- include("./partials/header") %> 
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/prod/product-edit/<%= producto.id %>" method="POST" >
				<input type="text" name="nombre" placeholder="nombre">
				<input type="text" name="descripcion" placeholder="Descripcion">			
				<input type="text" name="image" placeholder="Foto">
				<input type="submit">
			</form>

<%- include("./partials/footer") %> 