<%- include("./partials/head") %>
<%- include("./partials/headerLog") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<div class="product-detail">
				<form action="/prod/products" method="get">
					<input type="text" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Contraseña">	
					<p>Recordarme</p>		
					<input type="checkbox" name="redordarme" placeholder="Recordar Usuario?">
					<br>
					<input type="submit">
				</form>
			</div>
		</div>


<%- include("./partials/footer") %>