<%- include("./partials/head") %>
<%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<div class="product-detail">
				<form action="/prod/product-add/create" method="POST">
					<input type="text" name="nombre" placeholder="Nombre de producto">
					<input type="text" name="descripcion" placeholder="Descripcion">
					<input type="text" name="image" placeholder="Imagen a mostrar">		
					<input type="submit">
				</form>
			</div>
		</div>


<%- include("./partials/footer") %>