<%- include("./partials/head") %>
<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>  
			<% if(locals.errors){ %>
				<p><%= locals.errors.message%> </p>
			<% } %> 
			<!-- Show the "ultimos" products -->
			<form action="register" method="post">
				<input type="text" name="email" placeholder="Email">
				<input type="text" name="nombre" placeholder="Nombre Usuario">			
				<input type="password" name="contrasena" placeholder="Contraseña">
				<input type="number" name="dni" placeholder="DNI">
				<input type="date" name="fecha_de_nacimiento" placeholder="Fecha Nacimiento">
				<input type="text" name="foto_perfil" placeholder="Foto">
				<input type="submit" >
			</form>

<%- include("./partials/footer") %>
	