<%- include("./partials/head") %>
<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<article class="col-12 col-lg-8 product-detail-info">
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/prod/products">
							<figure class="product-box_image">
								<img src="/images/Remera_Atletico_Mineiro.jpg" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>Nombre del producto</h2>
								<p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
									delectus ex</p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			</article>
		</div>
		<label for=""></label>

<%- include("./partials/footer") %>