<%- include("./partials/head") %>
<%- include("./partials/header") %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<article class="col-12 col-lg-8 product-detail-info">
				<img src="/images/Remera_Atletico_Mineiro.jpg" alt="" class="product-detail-img">
				<p class="product-detail-description">
					Descripción corta del producto. En la página principal solo se ven 2 líneas de estar descripción.Lorem ipsum dolor,
					sit amet consectetur adipisicing elit. Tae ipsam amet eum, totam dolore libero illo unde? Consectetur dolorem neque
					veritatis.</p>
			</article>
		</div>
		<label for=""></label>

<%- include("./partials/footer") %>